/**
 Folha de estilo do site ChefVirtual.com
 @author Miquéias Rodrigues
*/

/* import fonts */


@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap');


/* variáveis globias*/
:root {
    --pretoLayout: rgba(0, 0, 0, 0.5);
    --pretonrgb: #000000;
    --Silver: #C0C0C0;
    --SkyBlue: #87CEEB;
    --Card: #f1f1f1;
    --Borda: #778899;
    --CadetBlue: #5F9EA0;
    --Cinzatxt: #434343;
    --textcolor: #F5F5F5;
    --fundo: #48D1CC;
    --CornflowerBlue: #6495ED;
    --LightSlateGray: #778899;
    --DarkCyan: rgba(0, 139, 139, 0.86);
    --colorlinkedin: #258dbf;

}

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* LAYOUT >>>>>>>>>>>>>>>>>>>>*/

/* Rolagem suave */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Dosis", sans-serif;

}

section {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.Container {
    margin: 0 auto;
    padding: 50px 15px;
    /*Top, right, botton, left*/

}

.ContainerEx {
    margin: 0 auto;
}

.Flex,
.FlexSobre,
.FlexMenu {
    display: Flex;
}

.Flex {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.FlexSobre {
    flex-direction: column;
    text-align: center;
}

.FlexMenu {
    justify-content: space-between;
}

.Botao {
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    font-weight: 700;
    border-radius: 25px;
}

.Botao {
    background-color: var(--fundo);
    padding: 10px 40px;
    margin-right: 5px;
}

.Banner2 {
    height: 200px;
    background: url(img/banner1.PNG);
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}



/* Topo */

#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/************* Smartphone portrait ************/

/***************** Cabeçalho ******************/
header {
    height: 102px;
}

#logo img {
    width: 101px;
    height: 101px;
    margin: 1px 0px 0px 3px;
}

#check {
    display: none;
}

label {
    font-size: 2em;
    color: var(--pretoLayout);
    position: fixed;
    top: 20px;
    right: 10px;
}

nav ul {
    list-style: none;
    background-color: var(--DarkCyan);
    height: 100vh;
    position: fixed;
    top: 80px;
    right: -70%;
    /*Estratégia para 
    recolher o menu*/
    width: 70%;
    transition: all 0.7s;
}

/* Copyright Rodapé */
#copyright {
    color: var(--pretonrgb);
    font-weight: bold;
}

/* Ativar o checkbox referente a ul*/

#check:checked~ul {
    right: 0px;
}

nav ul li {
    border-bottom: 0.5px solid var(--pretoLayout);
    text-align: right;
    padding: 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--textcolor);
}

/* Banner */
#banner {
    height: 46vh;
    background: url(img/banner1.PNG);
    background-size: cover;
    background-position: center left -91.5px;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#banner h1 {
    font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 2em;
    margin-top: 52px;
}

#banner h2 {
    font-family: "Dosis", sans-serif;
    font-size: 1.15em;
    font-weight: 500;
    margin: 5px 0px 45px 0px;
}

/* FOOTER CARD */
footer {
    height: auto;
    background-color: var(--Silver);
    color: var(--pretoLayout);
}

#social {
    margin-bottom: 12px;
}

.Card {
    margin-top: 30px;
    width: 338px;
    height: 520px;
    background-color: var(--Card);
    border: 1px solid var(--Borda);
    border-radius: 25px;
    text-align: center;
}

.Card img {
    border-radius: 25px 25px 0px 0px;
}

.Card h3 {
    margin: 15px 30px 0px 30px;
}

.Card p {
    padding: 10px 30px 60px 30px;
    text-align: left;
    color: var(--Cinzatxt);
    font-weight: 450;
}

.Button {
    text-decoration: none;
    background-color: var(--CadetBlue);
    color: var(--Card);
    padding: 12px 60px;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 500;
    font-weight: bold;
}

/* FOOTER SOBRE */

.Banner2 h1 {
    font-weight: 700;
    font-size: 2.5em;
}

#imgSobre img {
    width: 256px;
    height: 256px;
    margin-bottom: 40px;
    border-radius: 50%;
}

#textoSobre h2 {
    font-weight: 500;
    font-size: 1.5em;
    text-align: left;
}

#textoSobre p {
    text-align: left;
    margin-top: 15px;
}

#frase {
    font-style: italic;
}

#autor {
    font-size: 0.8em;
}

/* Smartphone landscape >>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

    /* Cabeçalho */

    /* Layout */
    .Container,
    .ContainerEx {
        max-width: 540px;
    }

    /* Banner */
    
    #banner {
        height: 60vh;
        background-position: center left -10px;
    }

    #banner h1 {
        font-size: 2em;
        margin-top: 50px;
    }

    #banner h2 {
        font-family: "Dosis", sans-serif;
        font-size: 1.2em;
    }

    header {
        max-width: 540px;
        margin: 0 auto;
    }

    #logo img {
        width: 108px;
        height: 108px;
        margin: -3px 0px 0px 1px;
    }

    .Flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }


    #social {
        margin-bottom: 0px;
    }

    /***** Página sobre *****/
    #imgSobre img {
        width: 180px;
        height: 180px;
        margin: 0;
    }

    #textoSobre {
        margin-left: 25px;

    }

    #textoSobre h2 {
        font-size: 1.25em;
    }

    #textoSobre p {
        margin-top: 6px;
        font-size: 0.85em;
    }

    #autor {
        font-size: 0.75em;
    }
}


/* Tablet portratit >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

    .Container,
    .ContainerEx {
        max-width: 720px;
    }

    /* Banner */
    
    #banner {
        height: 50vh;
        background-position: center ;
    }

    #banner h1 {
        font-size: 2.5em;
        margin-top: 60px;
    }

    #banner h2 {
        font-size: 1.5em;
    }

    .Botao{
        font-size: 1.5em;
    }

    /* Cabeçalho */
    header {
        max-width: 720px;
        height: 100px;

    }

    #logo img {
        width: 108px;
        height: 108px;
        margin: -4px 0px 0px 0px;
    }

    label {
        font-size: 3em;
        top: 10px;
        right: 10px;
    }

    nav ul {
        top: 100px;
        right: -50%;
        width: 50%;
    }

}

/* Tablet landscape >>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

    .Container,
    .ContainerEx {
        max-width: 960px;
    }

    /* Banner */
    
    #banner {
        height: 50vh;
        background-position: center ;
    }

    #banner h1 {
        font-size: 2.5em;
        margin-top: 80px;
    }

    #banner h2 {
        font-size: 1.5em;
    }

    .Botao{
        font-size: 1.5em;
    }

    /***** Página sobre *****/
    #imgSobre img {
        width: 288px;
        height: 288px;
    }

    #textoSobre {
        margin-left: 50px;
    }

    #textoSobre h2 {
        font-size: 1.5em;
    }

    #textoSobre p {
        margin-top: 15px;
        font-size: 1em;
    }

    #autor {
        font-size: 0.8em;
    }
}

/* Cabeçalho */
header {
    max-width: 960px;
    height: 100px;

}

#logo img {
    width: 107px;
    height: 107px;
    margin: -5px 0px 0px 0px;
}

label {
    font-size: 3em;
    top: 10px;
    right: 10px;
}

nav ul {
    top: 100px;
    right: -50%;
    width: 50%;
}



/* PCs ou notebooks HD + >>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

    .Container,
    .ContainerEx {
        max-width: 1140px;
    }

    /* Cabeçalho */
    header {
        height: 100px;

    }

    #logo img {
        width: 108px;
        height: 108px;
        margin: -5px 0px 0px 0px;
    }

    label {
        display: none;
    }

    nav ul {
        width: 100%;
        position: static;
        height: auto;
        background-color: white;
        margin-top: 50px;
    }

    nav ul li {
        border: 0;
        float: left;
    }

    nav ul li a {
        color: black;
    }

    nav ul li a:hover {
        color: var(--DarkCyan);
    }

    /* Banner */
    #banner {
        height: 55vh;
        background-position: center;
    }

    #banner h1 {
        font-size: 2.75em;
        margin-top:0px;
    }

    #banner h2 {
        font-size: 1.6em;
        font-weight: 600;
    }

    /* PARTE SOBRE*/

    .FlexSobre {
        flex-direction: row;
    }

    #textoSobre h2 {
        font-weight: 500;
        font-size: 1.5em;
        margin-top: 26px;
        text-align: left;
    }

    #textoSobre p {
        text-align: left;
        margin-top: 15px;
    }

    #frase {
        font-style: italic;
    }

    #autor {
        font-size: 0.8em;
    }
}

/* PCs, notebooks ou Tv Full HD + >>>>>>>>>>>> */
@media (min-width: 1400px) {

    .Container,
    .ContainerEx {
        max-width: 1360px;
    }

    /* Cabeçalho */
    header {
        max-width: 1360px;
        height: 100px;

    }

    #logo img {
        width: 110px;
        height: 110px;
        margin: -4.5px 0px 0px 0px;

    }
}