/**
 Folha de estilo do site ChefVirtual.com
 @author Miquéias Rodrigues
*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dosis", sans-serif;
}

/* Container principal DESKTOP */
.Container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.ContainerEx {
  margin: 0 auto;
}

.Flex,
.FlexSobre,
.FlexMenu {
  display: Flex;
}

.Flex {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.FlexSobre {
  flex-direction: column;
  text-align: center;
}

.FlexMenu {
  justify-content: space-between;
}

#topo {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

/* Copyright Rodapé */
#copyright {
  color: var(--pretonrgb);
  font-weight: bold;
}
