/* 1. Configurações Globais */
@import url("./global/reset.css");
@import url("./global/variables.css");
@import url("./global/global.css");
/* 2. Layout Base */
@import url("./layout/header.css");
@import url("./layout/footer.css");

/* 3. Componentes */
@import url("./components/buttons.css");
@import url("./components/cards.css");
@import url("./components/forms.css");
@import url("./components/navbar.css");

/* 4. Estilos Específicos de Páginas (se houver) */
/* @import url('./pages/home.css'); */

/* Smartphone landscape >>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {
  /* Cabeçalho */

  /* Layout */
  .Container,
  .ContainerEx {
    max-width: 540px;
  }

  /* CARROSSEL */
  .carousel-container {
    overflow: hidden;
    position: relative;
    z-index: -1;
  }

  .carousel {
    display: flex;
    width: 100%;
    animation: pri-slide 80s infinite;
    /* Ajuste a duração da animação conforme necessário */
    transition: transform 0.5s ease;
    /* Transição suave ao mudar a posição */
    margin-left: 10px;
    /* Adiciona espaço à esquerda */
    height: 560px;
    z-index: -1;
  }

  @keyframes pri-slide {
    0% {
      transform: translateX(0);
    }

    10% {
      transform: translateX(0);
    }

    20% {
      transform: translateX(-96%);
    }

    30% {
      transform: translateX(-96%);
    }

    40% {
      transform: translateX(-190%);
    }

    50% {
      transform: translateX(-190%);
    }

    60% {
      transform: translateX(-285%);
    }

    70% {
      transform: translateX(-285%);
    }

    80% {
      transform: translateX(-378%);
    }

    90% {
      transform: translateX(-378%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .Card {
    flex: 0 0 235px;
    margin-right: 20px;
  }

  /* Parte footer card home*/

  .conteudo_img img {
    width: auto;
    height: auto;
  }

  .conteudo p {
    font-size: 1.3em;
    width: 600px;
  }

  .conteudo2 {
    display: none;
  }

  .button {
    font-size: 1.4em;
  }

  .conteudo-topo h4 {
    font-size: 1.2em;
  }

  .conteudo-topo h2 {
    font-size: 2em;
    width: 300px;
  }

  /* Parte footer Texto home*/

  .Texto1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
  }

  .Texto1 h4 {
    margin-left: -70px;
  }

  .Texto1 h2 {
    margin-left: -70px;
  }

  .Texto2 {
    text-align: center;
    margin-top: 85px;
  }

  .Texto2 h4 {
    font-family: "Nunito", sans-serif;
    margin: 20px 0px -65px 0px;
    text-align: center;
    color: #fff;
    font-weight: 400;
  }

  .Texto2 h2 {
    font-family: "Dosis", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: -45px;
  }

  /* Parte footer Texto home mais vantagens*/

  #Texto1 h2 {
    font-size: 2.3em;
  }

  .container {
    padding-right: 45px;
    padding-left: 45px;
  }

  /* Parte footer Botão home*/

  .Button2 {
    margin-left: -70px;
    justify-content: left;
    text-align: center;
    padding: 10px 0;
  }

  /* Banner */

  #banner {
    height: 60vh;
    background-position: center;
  }

  #banner h1 {
    font-size: 2em;
    margin-top: 50px;
  }

  #banner h2 {
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
  }

  #banner1 {
    height: 60vh;
    background-position: center;
  }

  #banner1 h1 {
    font-size: 2em;
    margin-top: 50px;
  }

  #banner1 h2 {
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
  }

  #banner2 {
    height: 60vh;
    background-position: center;
  }

  #banner2 h1 {
    font-size: 2em;
    margin-top: 50px;
  }

  #banner2 h2 {
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
  }

  #banner3 {
    height: 60vh;
    background-position: center;
  }

  #banner3 h1 {
    font-size: 2em;
    margin-top: 50px;
  }

  #banner3 h2 {
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
  }

  .Flex {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  #social {
    margin-bottom: 0px;
  }

  /***** Página sobre *****/
  #imgSobre img {
    width: 180px;
    height: 180px;
    margin: 0;
  }

  #textoSobre {
    margin-left: 25px;
  }

  #textoSobre h2 {
    font-size: 1.25em;
  }

  #textoSobre p {
    margin-top: 6px;
    font-size: 0.85em;
  }

  #autor {
    font-size: 0.75em;
  }

  label {
    font-size: 3em;
    top: 20px;
    right: 10px;
  }
}

/* Tablet portratit >>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
  .Container,
  .ContainerEx {
    max-width: 720px;
  }

  /* CARROSSEL */
  .carousel-container {
    overflow: hidden;
    position: relative;
    z-index: -1;
  }

  .carousel {
    display: flex;
    width: 100%;
    animation: pri-slide 70s infinite;
    /* Ajuste a duração da animação conforme necessário */
    transition: transform 0.5s ease;
    /* Transição suave ao mudar a posição */
    margin-left: 10px;
    /* Adiciona espaço à esquerda */
    height: 580px;
    z-index: -1;
  }

  @keyframes pri-slide {
    0% {
      transform: translateX(0);
    }

    14.28% {
      transform: translateX(0);
    }

    28.56% {
      transform: translateX(-96%);
    }

    42.84% {
      transform: translateX(-96%);
    }

    57.12% {
      transform: translateX(-190%);
    }

    71.14% {
      transform: translateX(-190%);
    }

    85.68% {
      transform: translateX(-222%);
    }

    90% {
      transform: translateX(-222%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .Card {
    flex: 0 0 212px;
    margin-right: 15px;
  }

  .relogio {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 0px;
  }

  .relogio img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .relogio p {
    text-align: left;
    margin: 0px 0px 8px 0px;
  }

  /* Parte footer card home*/

  .conteudo_img img {
    width: 45vh;
    height: auto;
  }

  .conteudo p {
    font-size: 1.3em;
    width: 600px;
    margin-bottom: 50px;
  }

  .conteudo2 {
    display: none;
  }

  .button {
    font-size: 1.4em;
  }

  .conteudo-topo h4 {
    font-size: 1.2em;
  }

  .conteudo-topo h2 {
    font-size: 2em;
    width: 300px;
  }

  /* Parte footer Texto home*/

  .Texto1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
  }

  .Texto1 h4 {
    margin-left: -70px;
    font-size: 1.3em;
  }

  .Texto1 h2 {
    margin-left: -70px;
    font-size: 3em;
  }

  .Texto2 {
    text-align: center;
    margin-top: 85px;
  }

  .Texto2 h4 {
    font-family: "Nunito", sans-serif;
    margin: 20px 0px -65px 0px;
    text-align: center;
    color: #fff;
    font-weight: 400;
  }

  .Texto2 h2 {
    font-family: "Dosis", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: -45px;
  }

  /* Parte footer Texto home mais vantagens*/

  #Texto1 h2 {
    font-size: 2.3em;
  }

  .container {
    font-size: 1.5em;
  }

  .texto3 p {
    width: 400px;
  }

  /* Parte footer Botão home*/

  .Button2 {
    margin-left: -70px;
    justify-content: left;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
  }

  /* Banner */

  #banner {
    height: 50vh;
    background-position: center;
  }

  #banner h1 {
    font-size: 2.5em;
    margin-top: 60px;
  }

  #banner h2 {
    font-size: 1.5em;
  }

  #banner1 {
    height: 50vh;
    background-position: center;
  }

  #banner1 h1 {
    font-size: 2.5em;
    margin-top: 60px;
  }

  #banner1 h2 {
    font-size: 1.5em;
  }

  #banner2 {
    height: 50vh;
    background-position: center;
  }

  #banner2 h1 {
    font-size: 2.5em;
    margin-top: 60px;
  }

  #banner2 h2 {
    font-size: 1.5em;
  }

  #banner3 {
    height: 50vh;
    background-position: center;
  }

  #banner3 h1 {
    font-size: 2.5em;
    margin-top: 60px;
  }

  #banner3 h2 {
    font-size: 1.5em;
  }

  .Botao {
    font-size: 1.5em;
  }

  /* Cabeçalho */
  header {
    height: 145px;
  }

  #logo img {
    width: 140px;
    height: 140px;
    margin: 4px 0;
  }

  label {
    font-size: 3em;
    top: 40px;
    right: 10px;
  }

  nav ul {
    top: 150px;
  }

  nav ul li a {
    font-size: 1.5em;
  }
}

/* Tablet landscape >>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {
  .Container,
  .ContainerEx {
    max-width: 960px;
  }

  /* CARROSSEL */
  .carousel-container {
    overflow: hidden;
    position: relative;
    z-index: -1;
  }

  .carousel {
    display: flex;
    width: 105%;
    animation: pri-slide 70s infinite;
    /* Ajuste a duração da animação conforme necessário */
    transition: transform 0.5s ease;
    /* Transição suave ao mudar a posição */
    margin-left: 10px;
    /* Adiciona espaço à esquerda */
    height: 580px;
    z-index: -1;
  }

  @keyframes pri-slide {
    0% {
      transform: translateX(0);
    }

    15% {
      transform: translateX(0);
    }

    30% {
      transform: translateX(-91%);
    }

    45% {
      transform: translateX(-91%);
    }

    60% {
      transform: translateX(-182%);
    }

    75% {
      transform: translateX(-182%);
    }

    80% {
      transform: translateX(-211%);
    }

    90% {
      transform: translateX(-211%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .Card {
    flex: 0 0 270px;
    margin-right: 35px;
  }

  .relogio {
    display: flex;
    align-items: center;
    margin: 20px 0px 0px 0px;
  }

  .relogio img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .relogio p {
    text-align: left;
    margin: 0px 0px 8px 0px;
  }

  /* Parte footer card home*/

  .conteudo_img img {
    width: 65vh;
    height: auto;
  }

  .conteudo p {
    font-size: 1.7em;
    width: 700px;
    margin-bottom: 50px;
  }

  .conteudo2 {
    display: none;
  }

  .button {
    font-size: 1.4em;
  }

  .conteudo-topo h4 {
    font-size: 1.2em;
  }

  .conteudo-topo h2 {
    font-size: 2em;
    width: 300px;
  }

  /* Parte footer Texto home*/

  .Texto1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
  }

  .Texto1 h4 {
    margin-left: -220px;
    font-size: 1.3em;
  }

  .Texto1 h2 {
    margin-left: -220px;
    font-size: 3em;
  }

  .Texto2 {
    text-align: center;
    margin-top: 0px;
  }

  .Texto2 h4 {
    font-family: "Nunito", sans-serif;
    margin: 20px 0px -65px 0px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 1.3em;
  }

  .Texto2 h2 {
    font-family: "Dosis", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
    font-size: 2.5em;
  }

  /* Parte footer Texto home mais vantagens*/

  #Texto1 h2 {
    font-size: 2.3em;
  }

  .container {
    font-size: 1.5em;
  }

  .texto3 p {
    width: 400px;
  }

  /* Parte footer Botão home*/

  .Button2 {
    margin-left: -220px;
    justify-content: left;
    text-align: center;
    padding: 10px 0;
    font-size: 1.5em;
  }

  /* Banner */

  #banner {
    height: 50vh;
    background-position: center;
  }

  #banner h1 {
    font-size: 2.5em;
    margin-top: 80px;
  }

  #banner h2 {
    font-size: 1.5em;
  }

  .Botao {
    font-size: 1.5em;
  }

  /***** Página sobre *****/
  #imgSobre img {
    width: 288px;
    height: 288px;
  }

  #textoSobre {
    margin-left: 50px;
  }

  #textoSobre h2 {
    font-size: 1.5em;
  }

  #textoSobre p {
    margin-top: 15px;
    font-size: 1em;
  }

  #autor {
    font-size: 0.8em;
  }

  nav ul li a {
    font-size: 1.5em;
  }
}

/* PCs ou notebooks HD + >>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {
  .Container,
  .ContainerEx {
    max-width: 1140px;
  }

  /* CARROSSEL */
  .carousel-container {
    overflow: hidden;
    position: relative;
    z-index: -1;
  }

  .carousel {
    animation: pri-slide 70s infinite;
    transition: transform 0.5s ease;
  }

  @keyframes pri-slide {
    0% {
      transform: translateX(0);
    }

    15% {
      transform: translateX(0);
    }

    30% {
      transform: translateX(-90%);
    }

    45% {
      transform: translateX(-90%);
    }

    60% {
      transform: translateX(-181%);
    }

    75% {
      transform: translateX(-181%);
    }

    80% {
      transform: translateX(-212%);
    }

    90% {
      transform: translateX(-212%);
    }

    100% {
      transform: translateX(0);
    }
  }

  .Card:first-child {
    margin-left: 80px;
  }

  .Card {
    flex: 0 0 300px;
    max-width: 300px;
    height: 570px;
    margin-right: 135px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5),
      -5px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: -1;
    /* Colocar atrás do card */
  }

  .Card img {
    margin-top: 0px;
    width: 100%;
  }

  .card-content {
    text-align: left;
    /* Centralizar o conteúdo */
  }

  .card-content h3 {
    padding: 9px 0px 0px 10px;
    font-weight: 600;
  }

  .card-content h2 {
    padding: 5px 0px 0px 10px;
    color: #a80f2d;
    font-weight: 600;
  }

  .card-content p {
    padding: 10px 10px 0px 10px;
    color: var(--Cinzatxt);
    font-weight: 500;
  }

  .relogio {
    display: flex;
    align-items: center;
    margin: 35px 0px 0px 0px;
  }

  .relogio img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .relogio p {
    text-align: left;
    margin: 0px 0px 8px 0px;
  }

  /* Parte footer card home*/

  .container-h {
    display: flex;
    flex-direction: row;
    height: auto;
    /* Adicionei a altura total da viewport */
  }

  .conteudo_img {
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }

  .conteudo,
  .conteudo2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 50px 80px;
  }

  .conteudo img,
  .conteudo2 img {
    width: auto;
    height: auto;
  }

  .conteudo p {
    font-size: 1em;
    text-align: center;
    width: 379px;
    margin: 16px 0px 16px 0px;
  }

  .conteudo2 p {
    text-align: center;
    width: 379px;
    margin: 16px 0px 16px 0px;
  }

  /* Botão da parte "Você conhece o ChefVirtual" */

  .button {
    border: solid var(--Vermelho-);
    text-decoration: none;
    background-color: #fff;
    transition: 0.5s;
    padding: 8px;
    border-radius: 8px;
    margin-top: 16px;
    color: #000000;
    font-family: "Nunito", sans-serif;
    font-size: 1.1em;
  }

  .button:hover {
    background-color: var(--Vermelho-);
    transition: 0.5s;
    color: white;
  }

  /* Botões da parte "Menu Gourmet" */
  .botao-menu {
    display: flex;
    flex-direction: column;
  }

  .button2 {
    border: solid var(--Vermelho-);
    text-decoration: none;
    text-align: center;
    background-color: #fff;
    transition: 0.5s;
    padding: 8px;
    border-radius: 8px;
    margin-top: 16px;
    color: #000000;
    font-family: "Nunito", sans-serif;
    font-size: 1.1em;
  }

  .button2:hover {
    background-color: var(--Vermelho-);
    transition: 0.5s;
    color: white;
  }

  .conteudo-topo {
    margin: 45px 0 0 0;
    align-items: center;
  }

  .conteudo-topo p {
    display: flex;
    margin: 24px 0;
    max-width: 500px;
  }

  .conteudo-topo h4 {
    font-family: "Nunito", sans-serif;
    text-align: left;
    color: #a0a0a0;
    font-weight: 400;
    margin: 16px 0;
  }

  .conteudo-topo h2 {
    font-family: "Dosis", sans-serif;
    font-size: 2em;
    text-align: left;
    color: #000000;
    font-weight: 600;
    width: 300px;
  }

  /* Uma Parte Texto do carrossel */

  .Container-In {
    background-color: #a80f2d;
    width: 100%;
    height: 150px;
  }

  .Texto2 {
    text-align: center;
    margin-top: 70px;
  }

  .Texto2 h4 {
    font-family: "Nunito", sans-serif;
    margin: 20px 0px -65px 0px;
    text-align: center;
    color: #fff;
    font-weight: 400;
  }

  .Texto2 h2 {
    font-family: "Dosis", sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-weight: 600;
    margin-top: -45px;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 100px;
    padding-left: 100px;
  }

  .CardVantagem {
    display: flex;
    margin: 30px 30px 20px 30px;
    padding-right: 45px;
    padding-left: 45px;
  }

  /* Parte footer Botão home*/

  .Button {
    text-decoration: none;
    background-color: var(--CadetBlue);
    color: var(--Card);
    padding: 12px 60px;
    border-radius: 15px;
    font-size: 1.2em;
    font-weight: 500;
    font-weight: bold;
  }

  /* Card Menu Gourmet */
  .Container-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    margin-top: 50px;
    margin-bottom: 100px;
  }

  .Container-menu a {
    justify-content: center;
    display: flex;
    text-decoration: none;
    margin: 20px 0;
    height: auto;
    background-color: var(--Card);
  }

  .Card-menu {
    display: flex;
    flex-direction: row;

    align-items: center;
    text-align: center;

    width: 100%;
    height: auto;
  }

  .Card-menu img {
    margin: 0px 30px 0 0px;
    width: 250px;
    height: auto;
  }

  .text-menu {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: black;
  }

  .text-menu p {
    margin-top: 10px;
  }

  /* Carrossel Menu Gourmet */

  .carroussel-container-menu {
    width: 1000px;
    height: 700px;
    padding: 10px 10px;
    background-color: var(--Card);
    border-radius: 25px 25px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow-y: scroll;
    position: relative;
  }

  .carroussel-container-menu::-webkit-scrollbar {
    display: none;
  }

  .carousel-menu {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
  }

  /* Cabeçalho */
  header {
    height: 140px;
  }

  #logo img {
    width: 150px;
    height: 150px;
    margin: 3px 0;
  }

  label {
    display: none;
  }

  nav ul {
    width: 100%;
    position: static;
    height: auto;
    background-color: white;
    margin-top: 50px;
  }

  nav ul li {
    border: 0;
    float: left;
  }

  nav ul li a {
    color: black;
    transition: 0.5s;
  }

  nav ul li a:hover {
    color: #a80f2d;
    transition: 0.5s;
  }

  /* Banner */
  #banner {
    margin-top: 20px;
    height: 55vh;
    background-position: center;
  }

  #banner h1 {
    font-size: 3.2em;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  #banner h2 {
    font-size: 2.2em;
    font-weight: 600;
  }

  /* Banner2 */
  #banner2 {
    margin-top: 20px;
    height: 55vh;
    background-position: center;
  }

  #banner2 h1 {
    font-size: 3.2em;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  #banner2 h2 {
    font-size: 2.2em;
    font-weight: 600;
  }

  /* Banner3 */
  #banner3 {
    margin-top: 20px;
    height: 55vh;
    background-position: center;
  }

  #banner3 h1 {
    font-size: 3.2em;
    margin-top: 0px;
    margin-bottom: 10px;
  }

  #banner3 h2 {
    font-size: 2.2em;
    font-weight: 600;
  }

  /* PARTE SOBRE*/

  .FlexSobre {
    flex-direction: row;
  }

  #textoSobre h2 {
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 26px;
    text-align: left;
  }

  #textoSobre p {
    text-align: left;
    margin-top: 15px;
  }

  #frase {
    font-style: italic;
  }

  #autor {
    font-size: 0.8em;
  }
}

/* PCs, notebooks ou Tv Full HD + >>>>>>>>>>>> */
@media (min-width: 1400px) {
  .Container,
  .ContainerEx {
    max-width: 1360px;
  }

  .CardVantagem,
  .texto3 {
    flex: 1;
    max-width: unset;
  }
}
