/**
 Folha de estilo do site ChefVirtual.com
 @author Miquéias Rodrigues
*/

.Botao {
  text-decoration: none;
  color: #000000;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 25px;
}

.Botao {
  background-color: var(--VemelhoClaro);
  padding: 10px 40px;
  margin-right: 5px;
}

.button {
  text-decoration: none;
  background-color: var(--Vermelho-);
  transition: 0.5s;
  padding: 8px;
  border-radius: 8px;
  margin-top: 16px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
}

/* Parte footer Botão home*/

.Button {
  text-decoration: none;
  background-color: var(--CadetBlue);
  color: var(--Card);
  padding: 12px 60px;
  border-radius: 15px;
  font-size: 1.2em;
  font-weight: 500;
  font-weight: bold;
}
