/**
 Folha de estilo do site ChefVirtual.com
 @author Miquéias Rodrigues
*/

/* HEADER DESKTOP */
header {
  height: 140px;
}

#logo img {
  width: 150px;
  height: 150px;
  margin: 3px 0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-top: 50px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}

nav ul li a:hover {
  color: #a80f2d;
}

/* Esconder menu hamburguer no desktop */
#check, label {
  display: none;
}

