/**
 Folha de estilo do site ChefVirtual.com
 @author Miquéias Rodrigues
*/

/* LAYOUT >>>>>>>>>>>>>>>>>>>>*/

/* Banner */
#banner {
  height: 46vh;
  background: url(img/banner.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#banner h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-top: 52px;
}

#banner h2 {
  font-family: "Dosis", sans-serif;
  font-size: 1.15em;
  font-weight: 550;
  margin: 5px 0px 45px 0px;
}

/* Banner Sobre */
#banner1 {
  height: 38vh;
  background: url(img/banner.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#banner1 h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-top: 45px;
}

#banner1 h2 {
  font-family: "Dosis", sans-serif;
  font-size: 1.15em;
  font-weight: 550;
  margin: 5px 0px 45px 0px;
}

/* Banner Contato */
#banner2 {
  height: 38vh;
  background: url(img/banner.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#banner2 h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-top: 45px;
}

#banner2 h2 {
  font-family: "Dosis", sans-serif;
  font-size: 1.15em;
  font-weight: 550;
  margin: 5px 0px 45px 0px;
}

/* Banner Menu Gourmet */
#banner3 {
  height: 38vh;
  background: url(img/banner.png);
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#banner3 h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin-top: 45px;
}

#banner3 h2 {
  font-family: "Dosis", sans-serif;
  font-size: 1.15em;
  font-weight: 550;
  margin: 5px 0px 45px 0px;
}

/* Parte footer Texto home mais vantagens*/

#Texto1 h2 {
  margin-top: 30px;
  font-family: "Dosis", sans-serif;
  font-size: 2em;
  color: var(--Branco);
  text-align: center;
  font-weight: 600;
}

.container {
  display: flex;
  background-color: #a80f2d;
  margin-top: -20px;
  padding: 0px 0px 20px 0px;
  padding-right: 30px;
  padding-left: 30px;
  flex-direction: column;
  text-align: center;
}

.CardVantagem {
  flex-direction: column;
  display: flex;
  align-items: center;
  border: var(--Branco) solid 1px;
  background-color: #a80f2d;
  padding: 40px 0px;
  margin-top: 50px;
  text-align: center;
}

.CardVantagem img {
  margin-top: -20px;
  margin-bottom: 10px;
  width: 100px;
  height: 105px;
}

.texto3 h3 {
  text-align: center;
  color: var(--Branco);
  margin-bottom: 15px;
  width: auto;
}

.texto3 p {
  text-align: center;
  color: var(--Branco);
  width: 300px;
}
