/**
 Folha de estilo do site ChefVirtual.com
 @author Miquéias Rodrigues
*/

/* LAYOUT >>>>>>>>>>>>>>>>>>>>*/

/* Banners */
/* BANNER DESKTOP */
#banner {
  height: 55vh;
  background: url(../../img/banner.png) center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 20px;

  & h1 {
    font-size: 3.2em;
    margin-bottom: 10px;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
  }
  & h2 {
    font-size: 1.8em;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
  }
}

/* Seção "Mais Vantagens" */
#vantagens-container {
  display: flex;
  background-color: #a80f2d;
  margin-top: -20px;
  padding: 0px 0px 20px 0px;
  padding-right: 30px;
  padding-left: 30px;
  flex-direction: column;
  text-align: center;
}

#Texto1 h2 {
  margin-top: 30px;
  font-family: "Dosis", sans-serif;
  font-size: 2em;
  color: var(--Branco);
  text-align: center;
  font-weight: 600;
}

.CardVantagem {
  flex-direction: column;
  display: flex;
  align-items: center;
  border: var(--Branco) solid 1px;
  background-color: #a80f2d;
  padding: 40px 0px;
  margin-top: 50px;
  text-align: center;
}

.CardVantagem img {
  margin-top: -20px;
  margin-bottom: 10px;
  width: 100px;
  height: 105px;
}

.texto3 h3 {
  text-align: center;
  color: var(--Branco);
  margin-bottom: 15px;
  width: auto;
}

.texto3 p {
  text-align: center;
  color: var(--Branco);
  width: 300px;
}
